.wp-block-bandeau{
    display: none !important;    

    @screen lg{
        @apply relative text-primary;
        display: flex !important;
        
        img.wp-block-cover__image-background{
            width: 100vw;
            // height: 620px;
            left: auto;
            right: auto;
        }
        .wp-block-cover{
            &__inner-container{
                @apply bg-white rounded-lg text-primary px-20 py-2 m-0;            
                .wp-block-group{
                    @apply p-0;
                    &__inner-container{
                        .wp-block-group{
                            @apply my-4;
                            h2{
                                @apply mt-0;
                            }
                            p{
                                @apply m-0;
                            }
                        }
                    }
                   
                    .wp-block-columns {
                        @apply m-0;
                        .wp-block-column{
                            @apply border-l border-gray pl-12;
                            &:first-child{
                               border: none;
                               padding-left: 0;
                            }
                        }
                    }
                }
                .block-title-subtitle{
                    @apply my-10;   
                }
            }  
        }
  
    }

    @screen xl{
        img.wp-block-cover__image-background{
            // height: 600px;
        }
        .wp-block-cover{
            &__inner-container{
                @apply  px-40;            
            }       
        }
    }

}

.block-text{
    display: none;
    @screen lg{
        display: flex;
    }
}

.block-cover-title{
    display: none;
    @screen lg{
        display: flex;
    }
}

.block-text-media{
    display: none;
    @screen lg{
        display: flex;
    }
}